@model IEnumerable<HeThongBanVeMayBay.Models.PHIEUDATCHO>

@{
    ViewBag.Title = "GetBookTicket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetBookTicket</h2>

<p>
    @Html.ActionLink("Đặt vé", "Index")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDDatCho)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDChuyenBay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CMND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiVe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrangThai)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDDatCho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDChuyenBay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CMND)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiVe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @using (Html.BeginForm("Paid", "BookTicket", new { madatcho = item.IDDatCho }, FormMethod.Post))
                {
                    <input type="submit" value="Đã thanh toán" />
                }
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { madatcho = item.IDDatCho }) |
                @Html.ActionLink("Delete", "Delete", new { madatcho = item.IDDatCho })
            </td>
        </tr>
    }

</table>
