@model HeThongBanVeMayBay.Models.HANHKHACH
@using HeThongBanVeMayBay.Models
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>RegistrationForm_v1 by Colorlib</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="~/Register/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="~/Register/css/style.css">
</head>

<body>

    <div class="wrapper" style="background-image: url('/Register/images/hoanghon.jpg');">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="inner" style="opacity:0.9">
            <div class="image-holder" style="padding-top:20px;">
                <img src="~/Register/images/flight1.jpg" alt="">
            </div>
            @using (Html.BeginForm("Register", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <h3>Register</h3>
                <div class="form-wrapper">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Username" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    <i class="zmdi zmdi-account"></i>
                </div>
                <div class="form-wrapper">
                    @Html.EditorFor(model => model.Pass, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password", @type = "password" } })
                    @Html.ValidationMessageFor(model => model.Pass, "", new { @class = "text-danger" })
                    <i class="zmdi zmdi-lock"></i>
                </div>
                @*<div class="form-wrapper">
                        <input type="password" placeholder="Confirm Password" class="form-control">
                        <i class="zmdi zmdi-lock"></i>
                    </div>*@
                <div class="form-wrapper">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email Address" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    <i class="zmdi zmdi-email"></i>
                </div>
                <div class="form-wrapper">
                    @Html.EditorFor(model => model.CMND, new { htmlAttributes = new { @class = "form-control", @placeholder = "CMND " } })
                    @Html.ValidationMessageFor(model => model.CMND, "", new { @class = "text-danger" })
                    <i class="zmdi zmdi-account"></i>
                </div>
                <div class="form-wrapper">
                    @Html.EditorFor(model => model.TenHanhKhach, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name" } })
                    @Html.ValidationMessageFor(model => model.TenHanhKhach, "", new { @class = "text-danger" })
                    <i class="zmdi zmdi-account"></i>
                </div>
                <div class="form-wrapper">
                    @Html.EditorFor(model => model.DienThoai, new { htmlAttributes = new { @class = "form-control", @placeholder = "Phone" } })
                    @Html.ValidationMessageFor(model => model.DienThoai, "", new { @class = "text-danger" })
                    <i class="zmdi zmdi-account"></i>
                </div>
                <div class="form-wrapper">
                    @Html.EditorFor(model => model.NgaySinh, new { htmlAttributes = new { @class = "form-control", @placeholder = "Birtday" } })
                    @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
                </div>
                <div class="form-wrapper">
                    @Html.DropDownListFor(m => m.GioiTinh,
                                            new SelectList(Enum.GetValues(typeof(Gender))),
                                            "Gender", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
                </div>
                <div class="form-wrapper">
                    @Html.HiddenFor(model => model.ChucVu, new { htmlAttributes = new { @class = "form-control", @placeholder = "ChucVu" } })
                    @Html.ValidationMessageFor(model => model.DienThoai, "", new { @class = "text-danger" })
                </div>
                <div class="form-wrapper">
                    @Html.HiddenFor(model => model.Status, new { htmlAttributes = new { @class = "form-control", @placeholder = "Status" } })
                    @Html.ValidationMessageFor(model => model.DienThoai, "", new { @class = "text-danger" })
                </div>
                <button type="submit">
                    Register
                    <i class="zmdi zmdi-arrow-right"></i>
                </button>
            }
        </div>
    </div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>

